<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                <a href="https://github.com/samblake/rexy/">Rexy</a>
            </h1>
            <h2 class="subtitle">
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        {{#crumbs}}
                            <li><a href="{{link}}">{{name}}</a></li>
                        {{/crumbs}}
                    </ul>
                </nav>
            </h2>
        </div>
    </div>
</section>