<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rexy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/3.0.0-beta.1/cash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/rexy.css">
    <script src="/rexy.js"></script>
</head>

<body>

<!-- START NAV -->
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-item brand-text">
                <a href="https://github.com/samblake/rexy/">Rexy</a>
            </span>
        </div>
    </div>
</nav>
<!-- END NAV -->
<div class="container">
    <div class="columns">
        <div class="column is-12">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    {{#crumbs}}
                        <li><a href="{{link}}">{{name}}</a></li>
                    {{/crumbs}}
                </ul>
            </nav>
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Rexy
                        </h1>
                        <h2 class="subtitle">
                            Mocking for REST endpoints
                        </h2>
                    </div>
                </div>
            </section>

            <div class="columns">

                <div class="column is-6">
                    <div class="card">
                        <header class="card-header">
                            <p class="card-header-title">
                                APIs
                            </p>
                        </header>

                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <tbody>
                                {{#apis}}
                                <tr>
                                    <td width="5%"><i class="fa fa-angle-double-right"></i></td>
                                    {{#with api}}<td>{{{name}}}</td>{{/with}}
                                    <td class="action-cell"><a class="button is-small is-primary" href="{{link}}">Select</a></td>
                                </tr>
                                {{/apis}}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>